@charset "UTF-8";

h1, h2, h3 {
    margin: 1.5rem 0;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.8rem;
}

footer {
    text-align: center;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
    color: #e9ecef;
    background-color: #343a40;
}

.page-header {
    padding: 0.4rem 0;
}
