@charset "UTF-8";

header {
    margin-bottom: 0.5rem;
}

h1, h2, h3 {
    margin: 1.5rem 0;
}

footer {
    text-align: center;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
    color: #e9ecef;
    background-color: #343a40;
}
