@charset "UTF-8";

h1, h2, h3 {
    margin: 1.5rem 0;
}

h1 {
    font-size: 2.0rem;
    border-bottom: solid 3px;
    padding: 0 0.1rem 1rem 0.1rem;
}

h2 {
    font-size: 1.8rem;
    border-bottom: solid 2px;
    padding: 0.7rem 0.1rem;
}

footer {
    text-align: center;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
    color: #e9ecef;
    background-color: #343a40;
}

img {
    max-width: 100%;
}

ins {
    display: inline-block;
    padding: 0.8rem;
    text-decoration: none;
    border: solid #AAA 1px;
}

.sidebar.list-group {
    padding-left: 15px;
}

.sidebar h4 {
}

.sidebar h4:first-child {
    margin-top: 0;
}

.sidebar address {
    margin-bottom: 0;
}

.page-header {
    padding: 0.4rem 0;
}

.pagination {
    width: 100%;
}

.pagination > li:first-child {
    margin-left: auto;
}

.pagination > li:last-child {
    margin-right: auto;
}

ul.tag_box {
    padding-left: 0;
}

ul.tag_box > li {
    display: inline;
    margin: 0.2rem;
}

ul.tag_box > li:first-child {
    margin-left: 0;
}

.table a {
    word-break: break-word;
}
