## docker-compose.yml

version: '3'

services:
  main:
    build: .
    volumes:
      - ./docs:/docs
    ports:
      - ${PORT:-4000}:4000
    working_dir: /docs
    command: jekyll serve --host 0.0.0.0
