<!DOCTYPE html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
</head>

<body>
  <header>
    <div id="title">
      <a class="icon" href="/"><img width="100" height="100" src="/images/emacs-jp.png"></a>
      <h1>emacs-jp.github.com</h1>
    </div>
    
    <nav>
      <ul>
        <li><a href="./index.html">HOME</a></li>
        <li><a href="./about.html">ABOUT</a></li>
        <li><a href="./news.html">NEWS</a></li>
      </ul>
    </nav>

  </header>

  <article>
    {{ content }}
  </article>
</body>

<footer>
  <p>
    {{ site.title }} - <a href="{{ site.url }}">{{ site.url}}</a>
  </p>
</footer>

</html>

